@charset "UTF-8";
/* Sass Расширения */
.main_screen {
  width: 100vw;
  margin-top: 130px;
}
@media (max-width: 500px) {
  .main_screen {
    height: 230px;
  }
}
.main_screen .main_img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 500px) {
  .main_screen .main_img {
    max-height: 74%;
  }
}
.main_screen .breadcrumbs {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--dark-grey);
  margin-top: 20px;
  display: flex;
  word-spacing: 10px;
  max-width: 100%;
  position: relative;
  left: 13.5%;
}
@media (max-width: 500px) {
  .main_screen .breadcrumbs {
    left: 3%;
  }
}
.main_screen--caption {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: var(--black);
  margin: 30px 0;
}
@media (max-width: 500px) {
  .main_screen--caption {
    margin: 10px 0;
    font-size: 32px;
  }
}

/* Каталог */
.catalog {
  display: flex;
  padding: 0px 250px;
  height: 1800px;
}
.catalog .filters {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
}
.catalog .filters__checkbox {
  display: flex;
  flex-direction: column;
  color: var(--black);
  text-align: left;
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 20px;
  margin-top: 15px;
}
.catalog .filters__checkbox--caption {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.catalog .filters__checkbox_items {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.catalog .filters__checkbox_item {
  display: flex;
  align-items: baseline;
  gap: 10px;
  max-height: 40px;
}
.catalog .filters__checkbox_item--desc {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.catalog .filters__checkbox_item--name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
}
.catalog .filters__checkbox_item--count {
  color: var(--grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.catalog .filters__checkbox .filters__checkbox_input {
  display: none;
}
.catalog .filters__checkbox .filters__checkbox_label {
  color: var(--white);
  cursor: pointer;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle;
}
.catalog .filters__checkbox .filters__checkbox_label:before {
  content: " ";
  color: #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 24px;
  height: 24px;
  background: #FFF;
  border: 1px solid var(--grey);
  line-height: 30px;
  vertical-align: middle;
}
.catalog .filters__checkbox .filters__checkbox_input:checked + .filters__checkbox_label:before {
  content: url("../../icons/Accept.svg");
  background: var(--dark-blue);
  color: var(--white);
}

/* Стили для input range блока "Цена" */
.irs--flat {
  position: relative;
  right: 7px;
}
.irs--flat .irs-bar {
  background-color: var(--dark-blue);
  height: 1px;
  top: 29px;
}

.irs--flat .irs-handle > i:first-child {
  background-color: var(--dark-blue);
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: solid 1px var(--white);
  position: relative;
}
.irs--flat .irs-handle > i:first-child:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: solid 1px var(--dark-blue);
  border-radius: 10px;
  position: absolute;
  right: -2px;
  top: -1.5px;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: var(--dark-blue);
}

.irs--flat .irs-line {
  background-color: var(--white);
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single,
.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

/* Блок "Цена" в фильтрах */
.filters__range_slider {
  display: flex;
  flex-direction: column;
  color: var(--black);
  margin-top: 15px;
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 20px;
}
.filters__range_slider--caption {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}
.filters__range_slider_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.filters__range_slider_min, .filters__range_slider_max {
  display: flex;
  flex-direction: column;
}
.filters__range_slider_min--text, .filters__range_slider_max--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--dark-grey);
  text-align: left;
}
.filters__range_slider_min--number, .filters__range_slider_max--number {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--grey);
}

.filters__colors {
  display: flex;
  flex-direction: column;
  color: var(--black);
  margin-top: 15px;
}
.filters__colors--caption {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}
.filters__colors__wrapper {
  display: flex;
  gap: 10px;
  height: 24px;
  margin-top: 10px;
}
.filters__colors--item {
  height: 100%;
  width: 24px;
  background-color: #E30303;
  border-radius: 3px;
  border: 1px solid var(--grey);
  cursor: pointer;
}
.filters__colors--item::after {
  content: url("../../icons/Accept.svg");
  display: none;
}
.filters__colors .filters__colors--item--active::after {
  display: block;
}/*# sourceMappingURL=main_screen.css.map */